<?xml version="1.0" encoding="UTF-8"?>

<mtrace>
  <!--This is the user of the table-->
  <UserEntity>
    <userId>1</userId>
    <userName>super-admin</userName>
    <passWord>14319c1c351c113f64f0efa794a15986</passWord>
    <realName>开发人员</realName>
    <department>研发</department>
    <email>supera-admin@126.com</email>
    <mobilePhone>14798199999</mobilePhone>
    <telephone>0431-9999999</telephone>
    <position>老大</position>
    <roles>
      <roleId>6</roleId>
      <roleId>7</roleId>
    </roles>
  </UserEntity>
  <UserEntity>
    <userId>2</userId>
    <userName>sl</userName>
    <passWord>14319c1c351c113f64f0efa794a15986</passWord>
    <realName>孙龙</realName>
    <department>研发</department>
    <email>admin@126.com</email>
    <mobilePhone>14798190599</mobilePhone>
    <telephone>0431-9999999</telephone>
    <position>软件工程师</position>
    <roles>
      <roleId>6</roleId>
      <roleId>7</roleId>
    </roles>
  </UserEntity>
  <!--This is the role of the table-->
  <RoleEntity>
    <roleId>6</roleId>
    <roleName>管理员</roleName>
    <descriptions>管理员</descriptions>
    <menus>
      <menuId>46</menuId>
      <menuId>39</menuId>
      <menuId>81</menuId>
      <menuId>86</menuId>
      <menuId>92</menuId>
      <menuId>40</menuId>
      <menuId>80</menuId>
      <menuId>94</menuId>
      <menuId>93</menuId>
      <menuId>78</menuId>
      <menuId>82</menuId>
      <menuId>38</menuId>
      <menuId>42</menuId>
      <menuId>48</menuId>
      <menuId>89</menuId>
      <menuId>85</menuId>
      <menuId>91</menuId>
      <menuId>49</menuId>
      <menuId>95</menuId>
      <menuId>83</menuId>
      <menuId>44</menuId>
      <menuId>98</menuId>
      <menuId>43</menuId>
      <menuId>84</menuId>
      <menuId>88</menuId>
      <menuId>47</menuId>
      <menuId>41</menuId>
      <menuId>79</menuId>
      <menuId>90</menuId>
      <menuId>87</menuId>
    </menus>
  </RoleEntity>
  <RoleEntity>
    <roleId>7</roleId>
    <roleName>测试1</roleName>
    <descriptions>测试1</descriptions>
    <menus>
      <menuId>40</menuId>
      <menuId>38</menuId>
      <menuId>41</menuId>
      <menuId>39</menuId>
    </menus>
  </RoleEntity>
  <!--This is the menu of the table-->
  <MenuEntity>
    <menuId>38</menuId>
    <menuName>系统管理</menuName>
    <url>/</url>
    <description>系统管理</description>
    <sort>1</sort>
    <parentId>0</parentId>
    <rel>/</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>39</menuId>
    <menuName>用户管理</menuName>
    <url>/user/list.do</url>
    <description>用户管理</description>
    <sort>1</sort>
    <parentId>38</parentId>
    <rel>userlist</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>40</menuId>
    <menuName>角色管理</menuName>
    <url>/role/list.do</url>
    <description>角色管理</description>
    <sort>2</sort>
    <parentId>38</parentId>
    <rel>rolelist</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>41</menuId>
    <menuName>菜单管理</menuName>
    <url>/menu/primaryList.do</url>
    <description>菜单管理</description>
    <sort>3</sort>
    <parentId>38</parentId>
    <rel>menulist</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>42</menuId>
    <menuName>商户管理</menuName>
    <url>/</url>
    <description>维护商户</description>
    <sort>2</sort>
    <parentId>0</parentId>
    <rel>/</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>43</menuId>
    <menuName>商户注册</menuName>
    <url>/merchant/toAddMerchant.do</url>
    <description>merchantmanage</description>
    <sort>1</sort>
    <parentId>42</parentId>
    <rel>/</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>44</menuId>
    <menuName>商户查询</menuName>
    <url>/merchant/getMerchantList.do</url>
    <description>商户查询</description>
    <sort>2</sort>
    <parentId>42</parentId>
    <rel>searchMerchants</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>46</menuId>
    <menuName>进场管理</menuName>
    <url>/</url>
    <description>有关进场的信息管理</description>
    <sort>3</sort>
    <parentId>0</parentId>
    <rel>/</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>47</menuId>
    <menuName>肉品进场管理</menuName>
    <url>/approach/listApproMeat.do</url>
    <description>肉品进场管理</description>
    <sort>1</sort>
    <parentId>46</parentId>
    <rel>meatAction</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>48</menuId>
    <menuName>蔬菜进场管理</menuName>
    <url>/approach/listApproMeat.do?goodsType=1</url>
    <description>蔬菜进场管理</description>
    <sort>2</sort>
    <parentId>46</parentId>
    <rel>vegetableAction</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>49</menuId>
    <menuName>供货市场管理</menuName>
    <url>/supplyMarket/listSupplyMarket.do</url>
    <description>供货市场管理</description>
    <sort>3</sort>
    <parentId>46</parentId>
    <rel>marketAction</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>79</menuId>
    <menuName>个人信息修改</menuName>
    <url>/user/toPersonalEdit.do</url>
    <description>个人信息修改</description>
    <sort>5</sort>
    <parentId>38</parentId>
    <rel>usertopersonaledit</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>78</menuId>
    <menuName>重置密码</menuName>
    <url>/user/resPassWord.do</url>
    <description>重置密码</description>
    <sort>4</sort>
    <parentId>38</parentId>
    <rel>userrespassword</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>80</menuId>
    <menuName>定时任务</menuName>
    <url>/user/crontab.do</url>
    <description>定时任务</description>
    <sort>6</sort>
    <parentId>38</parentId>
    <rel>usercrontab</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>81</menuId>
    <menuName>备份管理</menuName>
    <url>/user/backup.do</url>
    <description>备份管理</description>
    <sort>7</sort>
    <parentId>38</parentId>
    <rel>userbackup</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>82</menuId>
    <menuName>展示本节点</menuName>
    <url>/user/showNode.do</url>
    <description>展示本节点</description>
    <sort>8</sort>
    <parentId>38</parentId>
    <rel>usershownode</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>83</menuId>
    <menuName>商品管理</menuName>
    <url>/goods/getList.do</url>
    <description>商品管理</description>
    <sort>4</sort>
    <parentId>46</parentId>
    <rel>getGoodsList</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>84</menuId>
    <menuName>交易管理</menuName>
    <url>/</url>
    <description>有关交易的信息管理</description>
    <sort>4</sort>
    <parentId>0</parentId>
    <rel>/</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>85</menuId>
    <menuName>交易信息查询</menuName>
    <url>/trade/listTradeBase.do</url>
    <description>交易信息查询</description>
    <sort>1</sort>
    <parentId>84</parentId>
    <rel>searchTradeBase</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>86</menuId>
    <menuName>交易流水查询</menuName>
    <url>/trade/listAllTradeDetail.do</url>
    <description>交易流水查询</description>
    <sort>2</sort>
    <parentId>84</parentId>
    <rel>searchTradeDetail</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>90</menuId>
    <menuName>人工录入交易信息</menuName>
    <url>/trade/toAddTrade.do</url>
    <description>人工录入交易信息添加</description>
    <sort>3</sort>
    <parentId>84</parentId>
    <rel>addTrade</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>87</menuId>
    <menuName>检疫管理</menuName>
    <url>/</url>
    <description>检疫管理</description>
    <sort>5</sort>
    <parentId>0</parentId>
    <rel>/</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>88</menuId>
    <menuName>登记</menuName>
    <url>/detection/toAddDetection.do</url>
    <description>登记</description>
    <sort>1</sort>
    <parentId>87</parentId>
    <rel>toadddetection</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>89</menuId>
    <menuName>检疫检测</menuName>
    <url>/detection/detectionList.do</url>
    <description>查询检疫信息</description>
    <sort>2</sort>
    <parentId>87</parentId>
    <rel>detectionlist</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>91</menuId>
    <menuName>电子秤管理</menuName>
    <url>/</url>
    <description>电子秤管理</description>
    <sort>6</sort>
    <parentId>0</parentId>
    <rel>/</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>92</menuId>
    <menuName>电子秤管理</menuName>
    <url>/ews/listEws.do</url>
    <description>电子秤管理</description>
    <sort>1</sort>
    <parentId>91</parentId>
    <rel>ews-listEws</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>93</menuId>
    <menuName>前置机管理</menuName>
    <url>/ews/listFec.do</url>
    <description>前置机管理</description>
    <sort>2</sort>
    <parentId>91</parentId>
    <rel>ews-listFec</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>94</menuId>
    <menuName>电子称绑定</menuName>
    <url>/ews/ewsBindList.do</url>
    <description>电子称绑定</description>
    <sort>3</sort>
    <parentId>91</parentId>
    <rel>ews-ewsBindList</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>95</menuId>
    <menuName>公告管理</menuName>
    <url>/ews/listNotice.do</url>
    <description>公告管理</description>
    <sort>4</sort>
    <parentId>91</parentId>
    <rel>ews-listNotice</rel>
  </MenuEntity>
  <MenuEntity>
    <menuId>98</menuId>
    <menuName>销卡查询</menuName>
    <url>/merchant/cancelCardList.do</url>
    <description>查看商户注销的卡</description>
    <sort>3</sort>
    <parentId>42</parentId>
    <rel>cancelcard</rel>
  </MenuEntity>
  <!--This is the function of the table-->
  <FunctionEntity>
    <functionId>14</functionId>
    <functionName>dfdf</functionName>
    <url>/dfdf.do</url>
    <description>df</description>
    <menuId>39</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>15</functionId>
    <functionName>用户添加跳转</functionName>
    <url>/user/toAdd.do</url>
    <description>用户添加跳转</description>
    <menuId>39</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>16</functionId>
    <functionName>用户添加</functionName>
    <url>/user/doAdd.do</url>
    <description>用户添加</description>
    <menuId>39</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>17</functionId>
    <functionName>删除用户</functionName>
    <url>/user/delete.do</url>
    <description>删除用户</description>
    <menuId>39</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>18</functionId>
    <functionName>用户修改跳转</functionName>
    <url>/user/toEdit.do</url>
    <description>用户修改跳转</description>
    <menuId>39</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>19</functionId>
    <functionName>用户修改</functionName>
    <url>/user/doEdit.do</url>
    <description>用户修改</description>
    <menuId>39</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>20</functionId>
    <functionName>分配角色跳转</functionName>
    <url>/user/roleAdd.do</url>
    <description>分配角色跳转</description>
    <menuId>39</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>21</functionId>
    <functionName>分配角色</functionName>
    <url>/user/doRoleAdd.do</url>
    <description>分配角色</description>
    <menuId>39</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>22</functionId>
    <functionName>主菜单添加跳转</functionName>
    <url>/menu/toPrimaryAdd.do</url>
    <description>主菜单添加跳转</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>23</functionId>
    <functionName>主菜单添加</functionName>
    <url>/menu/doPrimaryAdd.do</url>
    <description>主菜单添加</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>24</functionId>
    <functionName>删除主菜单</functionName>
    <url>/menu/deletePrimary.do</url>
    <description>删除主菜单</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>25</functionId>
    <functionName>修改主菜单跳转</functionName>
    <url>/menu/toPrimaryEdit.do</url>
    <description>修改主菜单跳转</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>26</functionId>
    <functionName>修改主菜单</functionName>
    <url>/menu/doPrimaryEdit.do</url>
    <description>修改主菜单</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>27</functionId>
    <functionName>查询子菜单</functionName>
    <url>/menu/toChildList.do</url>
    <description>查询子菜单</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>28</functionId>
    <functionName>添加子菜单跳转</functionName>
    <url>/menu/toChildAdd.do</url>
    <description>添加子菜单跳转</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>29</functionId>
    <functionName>添加子菜单</functionName>
    <url>/menu/doChildAdd.do</url>
    <description>添加子菜单</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>30</functionId>
    <functionName>删除子菜单</functionName>
    <url>/menu/deleteChild.do</url>
    <description>删除子菜单</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>31</functionId>
    <functionName>修改子菜单</functionName>
    <url>/menu/doChildEdit.do</url>
    <description>修改子菜单</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>32</functionId>
    <functionName>查询子菜单功能</functionName>
    <url>/menu/functionList.do</url>
    <description>查询子菜单功能</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>33</functionId>
    <functionName>功能添加跳转</functionName>
    <url>/menu/toFunctionAdd.do</url>
    <description>功能添加跳转</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>34</functionId>
    <functionName>添加功能</functionName>
    <url>/menu/doAddFunction.do</url>
    <description>添加功能</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>35</functionId>
    <functionName>删除功能</functionName>
    <url>/menu/deleteFunction.do</url>
    <description>删除功能</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>36</functionId>
    <functionName>修改功能跳转</functionName>
    <url>/menu/toFunctionEdit.do</url>
    <description>修改功能跳转</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>37</functionId>
    <functionName>修改功能</functionName>
    <url>/menu/doEditFunction.do</url>
    <description>修改功能</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>38</functionId>
    <functionName>角色添加跳转</functionName>
    <url>/role/toAdd.do</url>
    <description>角色添加跳转</description>
    <menuId>40</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>39</functionId>
    <functionName>角色添加</functionName>
    <url>/role/doAdd.do</url>
    <description>角色添加</description>
    <menuId>40</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>40</functionId>
    <functionName>删除角色</functionName>
    <url>/role/delete.do</url>
    <description>删除角色</description>
    <menuId>40</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>41</functionId>
    <functionName>角色修改跳转</functionName>
    <url>/role/toEdit.do</url>
    <description>角色修改跳转</description>
    <menuId>40</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>42</functionId>
    <functionName>角色修改</functionName>
    <url>/role/doEdit.do</url>
    <description>角色修改</description>
    <menuId>40</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>44</functionId>
    <functionName>分配权限跳转</functionName>
    <url>/role/toAddPermission.do</url>
    <description>分配权限跳转</description>
    <menuId>40</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>45</functionId>
    <functionName>分配权限</functionName>
    <url>/role/doPermissions.do</url>
    <description>分配权限</description>
    <menuId>40</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>46</functionId>
    <functionName>添加商户</functionName>
    <url>/merchant/doAddMerchant.do</url>
    <description>添加商户</description>
    <menuId>43</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>47</functionId>
    <functionName>跳转编辑商户页面</functionName>
    <url>/merchant/toUpdateMerchant.do</url>
    <description>跳转编辑商户页面</description>
    <menuId>44</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>48</functionId>
    <functionName>编辑商户</functionName>
    <url>/merchant/doUpdateMerchant.do</url>
    <description>编辑商户</description>
    <menuId>44</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>50</functionId>
    <functionName>注销商户</functionName>
    <url>/merchant/deleteMerchant.do</url>
    <description>注销商户</description>
    <menuId>44</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>51</functionId>
    <functionName>跳转到添加功能页面</functionName>
    <url>/supplyMarket/gotoAddSupplyMarket.do</url>
    <description>跳转到添加功能页面</description>
    <menuId>49</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>52</functionId>
    <functionName>删除</functionName>
    <url>/supplyMarket/deleteSupplyMarket.do</url>
    <description>删除供货市场信息</description>
    <menuId>49</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>53</functionId>
    <functionName>跳转到修改页</functionName>
    <url>/supplyMarket/gotoUpdateSupplyMarket.do</url>
    <description>跳转到修改页</description>
    <menuId>49</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>54</functionId>
    <functionName>添加操作</functionName>
    <url>/supplyMarket/addSupplyMarket.do</url>
    <description>执行添加供货市场功能</description>
    <menuId>49</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>55</functionId>
    <functionName>查找地区</functionName>
    <url>/county/findCountyByPrId.do</url>
    <description>根据父节点查找所在地</description>
    <menuId>49</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>56</functionId>
    <functionName>修改</functionName>
    <url>/supplyMarket/editSupplyMarket.do</url>
    <description>修改供货市场</description>
    <menuId>49</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>57</functionId>
    <functionName>修改子菜单跳转</functionName>
    <url>/menu/toChildEdit.do</url>
    <description>修改子菜单跳转</description>
    <menuId>41</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>59</functionId>
    <functionName>商户详情</functionName>
    <url>/merchant/toDetailsMerchant.do</url>
    <description>商户详情</description>
    <menuId>44</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>75</functionId>
    <functionName>跳转开卡页面</functionName>
    <url>/merchant/toAddCard.do</url>
    <description>跳转开卡页面</description>
    <menuId>44</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>76</functionId>
    <functionName>开卡</functionName>
    <url>/merchant/doAddCard.do</url>
    <description>开卡</description>
    <menuId>44</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>78</functionId>
    <functionName>重置密码</functionName>
    <url>/user/doResPwd.do</url>
    <description>重置密码</description>
    <menuId>78</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>79</functionId>
    <functionName>个人信息修改</functionName>
    <url>/user/doPersonalEdit.do</url>
    <description>个人信息修改</description>
    <menuId>79</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>80</functionId>
    <functionName>挂失、解挂、注销操作</functionName>
    <url>/merchant/lossOrSolutionCard.do</url>
    <description>挂失、解挂、注销操作</description>
    <menuId>44</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>81</functionId>
    <functionName>修改节点</functionName>
    <url>/user/doEditShowNode.do</url>
    <description>修改本节点</description>
    <menuId>82</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>82</functionId>
    <functionName>修改节点跳转</functionName>
    <url>/user/toUpdateShowNode.do</url>
    <description>修改节点跳转</description>
    <menuId>82</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>91</functionId>
    <functionName>跳转添加商品</functionName>
    <url>/goods/toAddGoods.do</url>
    <description>跳转添加商品</description>
    <menuId>83</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>102</functionId>
    <functionName>检测登记</functionName>
    <url>/detection/doAddDetection.do</url>
    <description>检测登记</description>
    <menuId>88</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>99</functionId>
    <functionName>查看检测明细</functionName>
    <url>/detection/showDetectionDetail.do</url>
    <description>查看检测明细</description>
    <menuId>89</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>92</functionId>
    <functionName>添加商品</functionName>
    <url>/goods/doAddGoods.do</url>
    <description>添加商品</description>
    <menuId>83</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>87</functionId>
    <functionName>跳转到新增页面</functionName>
    <url>/approach/goApprMeatAdd.do</url>
    <description>跳转到新增页面</description>
    <menuId>47</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>88</functionId>
    <functionName>查看明细</functionName>
    <url>/trade/listTradeDetail.do</url>
    <description>查看单个具体交易明细</description>
    <menuId>85</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>89</functionId>
    <functionName>查找带回商户信息</functionName>
    <url>/approach/findMerchant.do</url>
    <description>查找带回商户信息</description>
    <menuId>47</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>100</functionId>
    <functionName>新增猪肉进场</functionName>
    <url>/approach/addApproach.do</url>
    <description>新增猪肉进场</description>
    <menuId>47</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>93</functionId>
    <functionName>跳转编辑商品</functionName>
    <url>/goods/toUpdateGoods.do</url>
    <description>跳转编辑商品</description>
    <menuId>83</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>94</functionId>
    <functionName>修改商品</functionName>
    <url>/goods/doUpdateGoods.do</url>
    <description>修改商品</description>
    <menuId>83</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>95</functionId>
    <functionName>查找带回商品信息</functionName>
    <url>/approach/findGoods.do</url>
    <description>查找带回商品信息</description>
    <menuId>47</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>96</functionId>
    <functionName>查找带回蔬菜批次信息</functionName>
    <url>/detection/backList.do</url>
    <description>查找带回蔬菜批次信息</description>
    <menuId>88</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>97</functionId>
    <functionName>交易信息添加</functionName>
    <url>/trade/doAddTrade.do</url>
    <description>交易信息添加</description>
    <menuId>90</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>98</functionId>
    <functionName>查找带回供货市场信息</functionName>
    <url>/approach/findSuppMarket.do</url>
    <description>查找带回供货市场信息</description>
    <menuId>47</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>101</functionId>
    <functionName>删除进场数据</functionName>
    <url>/approach/deleteApproach.do</url>
    <description>删除进场数据</description>
    <menuId>47</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>103</functionId>
    <functionName>跳转到修改页面</functionName>
    <url>/approach/goToApproachEdit.do</url>
    <description>跳转到修改页面</description>
    <menuId>47</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>104</functionId>
    <functionName>修改进场数据</functionName>
    <url>/approach/editApproach.do</url>
    <description>修改进场数据</description>
    <menuId>47</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>105</functionId>
    <functionName>查找带回卖方名称</functionName>
    <url>/trade/findMerchant.do</url>
    <description>查找带回卖方名称</description>
    <menuId>90</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>106</functionId>
    <functionName>电子称添加跳转</functionName>
    <url>/ews/toAddEws.do</url>
    <description>电子称添加跳转</description>
    <menuId>92</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>107</functionId>
    <functionName>电子称添加</functionName>
    <url>/ews/doAddEws.do</url>
    <description>电子称添加</description>
    <menuId>92</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>108</functionId>
    <functionName>电子称修改跳转</functionName>
    <url>/ews/toUpdateEws.do</url>
    <description>电子称修改跳转</description>
    <menuId>92</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>109</functionId>
    <functionName>电子称修改</functionName>
    <url>/ews/doUpdateEws.do</url>
    <description>电子称修改</description>
    <menuId>92</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>110</functionId>
    <functionName>电子称删除</functionName>
    <url>/ews/deleteEws.do</url>
    <description>电子称删除</description>
    <menuId>92</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>111</functionId>
    <functionName>永久删除卡</functionName>
    <url>/merchant/deleteCard.do</url>
    <description>永久删除卡</description>
    <menuId>98</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>112</functionId>
    <functionName>电子称获取前置机</functionName>
    <url>/ews/toBindFec.do</url>
    <description>电子称获取前置机</description>
    <menuId>92</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>113</functionId>
    <functionName>电子称添加前置机</functionName>
    <url>/ews/doBindFec.do</url>
    <description>电子称添加前置机</description>
    <menuId>92</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>114</functionId>
    <functionName>前置机获取电子秤</functionName>
    <url>/ews/toBindEws.do</url>
    <description>前置机获取电子秤</description>
    <menuId>93</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>115</functionId>
    <functionName>前置机添加电子秤</functionName>
    <url>/ews/doBindEws.do</url>
    <description>前置机添加电子秤</description>
    <menuId>93</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>116</functionId>
    <functionName>展示商品类型</functionName>
    <url>/trade/getGoodsTypeEnum.do</url>
    <description>展示商品类型</description>
    <menuId>90</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>117</functionId>
    <functionName>电子秤绑定商户带回</functionName>
    <url>/ews/toBindMerchant.do</url>
    <description>电子秤绑定商户带回</description>
    <menuId>94</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>118</functionId>
    <functionName>电子秤绑定商户</functionName>
    <url>/ews/doBindMerchant.do</url>
    <description>电子秤绑定商户</description>
    <menuId>94</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>119</functionId>
    <functionName>前置机添加跳转</functionName>
    <url>/ews/toAddFec.do</url>
    <description>前置机添加跳转</description>
    <menuId>93</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>120</functionId>
    <functionName>前置机添加</functionName>
    <url>/ews/doAddFec.do</url>
    <description>前置机添加</description>
    <menuId>93</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>121</functionId>
    <functionName>前置机修改跳转</functionName>
    <url>/ews/toUpdateFec.do</url>
    <description>前置机修改跳转</description>
    <menuId>93</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>122</functionId>
    <functionName>前置机修改</functionName>
    <url>/ews/doUpdateFec.do</url>
    <description>前置机修改</description>
    <menuId>93</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>123</functionId>
    <functionName>前置机删除</functionName>
    <url>/ews/deleteFec.do</url>
    <description>前置机删除</description>
    <menuId>93</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>124</functionId>
    <functionName>公告添加跳转</functionName>
    <url>/ews/toAddNotice.do</url>
    <description>公告添加跳转</description>
    <menuId>95</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>125</functionId>
    <functionName>公告添加</functionName>
    <url>/ews/doAddNotice.do</url>
    <description>公告添加</description>
    <menuId>95</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>126</functionId>
    <functionName>公告修改跳转</functionName>
    <url>/ews/toUpdateNotice.do</url>
    <description>公告修改跳转</description>
    <menuId>95</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>127</functionId>
    <functionName>公告修改</functionName>
    <url>/ews/doUpdateNotice.do</url>
    <description>公告修改</description>
    <menuId>95</menuId>
  </FunctionEntity>
  <FunctionEntity>
    <functionId>128</functionId>
    <functionName>公告删除</functionName>
    <url>/ews/deleteNotice.do</url>
    <description>公告删除</description>
    <menuId>95</menuId>
  </FunctionEntity>
  <!--This is the node_info of the table-->
  <SupplyMarketEntity>
    <suId>888888</suId>
    <no>370602569</no>
    <name>蔬菜批发</name>
    <regId>1</regId>
    <sNodeType>0001</sNodeType>
    <areaNo>123</areaNo>
    <areaName>萧县</areaName>
    <recordDate>2015-03-18 11:37:26.0</recordDate>
    <legalRepresent>123</legalRepresent>
    <addr>1123</addr>
    <tel>1</tel>
    <updateTime>2015-03-25 14:13:03.0</updateTime>
  </SupplyMarketEntity>
</mtrace>
